.post {
  margin-left: auto;
  margin-right: auto;
  width: 75% !important;
}

.post-title {
  text-align: center;
}

.read-more:hover {
  animation-name: displaceContent;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes displaceContent {
  from {
    transform: translateX(0em);
    color: white;
  }
  to {
    transform: translateX(3em);
    color: #ff6047;
  }
}

.footer {
  text-align: center;
}
